/* 	Display Properties
		1. inline
		2. block
		3. inline-block
		4. none
 */
#div-1
{
	background-color: green;
	display: inline;
}
#span-1
{
	background-color: purple;
	display: block;
}
#span-2
{
	background-color: red;
	display: inline-block;
	height: 100px;
	width: 100px;
}
#div-2
{
	background-color: hotpink;
}
#img
{
	display: none;
}
#p1{
	background-color: #87CEFA;
}
#p2
{
	background-color: rgb(255,105,180);
	width: 60%;
}
#p3
{
	background-color: yellow;
	width: 40%;
}
.sample
{
	display: inline-block;
	background-color: orange;
	border: 1px solid black;
	width: 30%;
}
.imgfloat
{
	width: 200px;
	height: 200px;
	float: left;
}

/*CSS Units*/

.box
{
	background-color: purple;
	border: 1px solid black;
	margin: 5px;
}
.fiftypercent
{
	width: 50%;
}
.hundredpx
{
	width: 100px;
}
.fiftyvw
{
	width: 50vw;
}
.twentyfivevh
{
	height: 25vh;
}
.parent
{
	width: 335px;
	border: 2px solid navy;
	font-size: 50px;
}

/* em, rem, and 200% */

.onerem
{
	font-size: 1rem;
}
.onerem
{
	font-size: 1em;
}
.tworem
{
	font-size: 2rem;
}
.twoem
{
	font-size: 2em;
}
.twohundperc
{
	font-size: 200%;
}

/* CSS Background Properties
	Background Repeat:
	1. repeat
	2. repeat -x
	3. repeat -y
	4. round
	5. no-repeat

	Background Position:
	1. left/right/center top 		
	2. left center
	3. left bottom

	Background Attachment:
	1. Scroll
	2. Fixed
	3. Inherit
*/

.background
{
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: right top;
	background-size: 100%;
	background-attachment: fixed;

}

/*
	CSS Positioning
	Position
	1. Static
	2. absolute
	3. Sticky
	4. Fixed
*/

.parentelement
{
	background-color: skyblue;
	padding: 50px 10px;
	position: relative;
	height: 800px;
}
.child1
{
	background-color: gray;
	padding: 10px;
}
.child2
{
	background-color: yellow;
	position: absolute;
	padding: 10px;
	top: 10px;
}
.child3
{
	background-color: darkgray;
	padding: 10px;
}

/* Z-index
	Z-index is the property that determines which HTML element that appear on top
	of another HTML elements when they overlap. The element that has a highest index
	is on top.
*/

.container
{
	position: relative;
}
.blackbox
{
	position: relative;
	border: 2px solid black;
	height: 100px;
	margin: 30px;
	z-index: 1;
}
.graybox
{
	position: absolute;
	left: 50px;
	top: 50px;
	background-color: lightgrey;
	height: 60px;
	width: 70%;
	z-index: 3;
}
.greenbox
{
	position: absolute;
	top: -15px;
	left: 270px;
	background-color: green;
	height: 150px;
	z-index: 2;
}