*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
.bullet
{
	list-style-type: none;
}
.navbar
{
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	padding: 0.8rem;
	list-style-type: none;
	font-weight: bold;
	position: sticky;
}
nav .nav-logo, nav .nav
{
	display: inline;
	margin: 0.5rem;
}
nav .right-nav
{
	display: inline;
	margin: 0.5rem;
	float: right;
}
.tuitt-button
{
	background-color: #C2195B;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	padding: 5px 12px;
}
#bg-image
{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 50vh;
	background-repeat: no-repeat;
/*	background-position: center center;*/
	background-size: 100%;
	background-attachment: fixed;
	background-position-y: 96%;
}
.front-bg
{
	background-color: black;
	opacity: 0.6;
	min-height: 50vh;
	color: white;
}
.title
{
	font-family: 'Zilla Slab';
	float: right;
	margin-right: 8%;
	margin-left: 60%;
	font-size: 40px;
	text-align: right;
}
.subtitle
{
	font-family: 'Zilla Slab';
	float: right;
	margin-top: 30px;
	margin-right: 8%;
	margin-left: 65%;
	font-size: 20px;
	text-align: right;
}
.apply-button
{
	background-color: #C2195B;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	padding: 10px 40px;
	float: right;
	margin-right: 8%;
	margin-top: 1%;
}
.intro .title-2
{
	font-family: "Zilla Slab";
	font-weight: bold;
	font-size: 2em;
	margin-top: 90px;/*
	margin-bottom: 90px;*/
	text-align: center;
}
.intro-description
{
	font-size: 18px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 90px;
	text-align: justify;
	margin-top: 3em;
}
.pre-footer
{
	background-color: #f7fbfb;
	padding-top: 90px;
	text-align: center;
}
.pre-footer .title-2
{
	font-family: "Zilla Slab";
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}
.prefooter-description
{
	font-size: 18px;
	margin-left: 10%;
	margin-right: 10%;
	margin-bottom: 10px;
	text-align: center;
	margin-top: 30px;
}
.book-button
{
	background-color: #336589;
	margin-bottom: 80px;
	color: white;
	font-weight: bold;
	border-radius: 25px;
	padding: 5px 20px;
}
footer
{
	padding: 0.7rem;
	text-align: center;

}
footer span
{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}